[submodule "lib/jquery"]
	path = lib/jquery
	url = git@mojotrollz.eu:webcraft/lib_jquery.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git@mojotrollz.eu:webcraft/lib_bootstrap.git
[submodule "lib/markdown"]
	path = lib/markdown
	url = git@mojotrollz.eu:webcraft/lib_markdown.git
[submodule "lib/tinymce"]
	path = lib/tinymce
	url = git@mojotrollz.eu:webcraft/lib_tinymce.git
