#sai_logo {
    padding-left: 10px;
    float: left;
    padding-top: 8px;
    padding-right: 10px;
}
#sai_brand{
    width: 170px;
}

.sai_wrapper {
    margin-top: 50px;
}

#sai_navbar{
    height:40px;
}

#project_navbar{
/*    width:224px;*/
/*    position: fixed;*/
    left: 0px;
    bottom: 0px;
    top: 38px;
}

#footer{
    text-align: right;
    padding-right: 20px;
    color: #777;
}

#footer a{
    color: #777;
}

.carousel-img{
    width: 1200px;
    height: 650px;
}

.sai_p_modules {
    border-left: 3px solid #1C569C;
}
.sai_p_modules:hover {
    border-right: 3px solid #1C569C;
    border-left: 0;
}
.sai_p_modules:active {
    border-right: 3px solid #1C569C;
    border-left: 0;
}