#project_navbar{
/*    width:224px;*/
/*    position: fixed;*/
    left: 0px;
    bottom: 0px;
    top: 38px;
}

#footer{
    text-align: right;
    padding-right: 20px;
    color: #777;
}

#footer a{
    color: #777;
}

.carousel-img{
    width: 1200px;
    height: 650px;
}

.sai_p_modules {
    border-left: 3px solid #1C569C;
}
.sai_p_modules:hover {
    border-right: 3px solid #1C569C;
    border-left: 0;
}
.sai_p_modules:active {
    border-right: 3px solid #1C569C;
    border-left: 0;
}

/* auto collapsing navbar */

#sys_autocollapse.collapsed .navbar-header {
  float: none;
}
#sys_autocollapse.collapsed .navbar-toggle {
  display: block;
}
#sys_autocollapse.collapsed .navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
#sys_autocollapse.collapsed .navbar-collapse.collapse {
  display: none!important;
}
#sys_autocollapse.collapsed .navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
#sys_autocollapse.collapsed .navbar-nav>li {
  float: none;
}
#sys_autocollapse.collapsed .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}