#project_navbar{
    left: 0px;
    bottom: 0px;
    top: 38px;
}
#footer{
    text-align: right;
    padding-right: 20px;
    color: #777;
}
#footer a{
    color: #777;
}
#content {
    padding-top: 20px;
    box-sizing: border-box;
}
.carousel-img{
    width: 1200px;
    height: 650px;
}
.sai_menu_first {
    padding-left: 0;
    margin-left: 0;
}
.sai_main_menu {
    border-radius: 3px 3px 3px 0;
}
/* auto collapsing navbar */
#sys_autocollapse.collapsed .navbar-header {
  float: none;
}
#sys_autocollapse.collapsed .navbar-toggle {
  display: block;
}
#sys_autocollapse.collapsed .navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
#sys_autocollapse.collapsed .navbar-collapse.collapse {
  display: none!important;
}
#sys_autocollapse.collapsed .navbar-nav {
  float: none!important;
  margin: 7.5px -15px;
}
#sys_autocollapse.collapsed .navbar-nav>li {
  float: none;
}
#sys_autocollapse.collapsed .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}